<h4 align="center">Images</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}

<a class="btn btn-primary" asp-controller="Images" asp-action="Add">Add Image</a>
<hr />

@if (Model.ImageFiles.Count == 0)
{
    <caption>No Records Found</caption> 
}
else
{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Created On</th>
                    @*<th>Uploaded By</th>*@
                 </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.ImageFiles)
                {
                <tr>
                    <th>
                        <a asp-controller="Images" asp-action="ViewImage" asp-route-id="@file.ImageID">
                            <img src="~/ImageUploads/@file.Title@file.Extension" alt="image"
                                 height="200" width="200" asp-append-version="true">
                        </a>
                    </th>
                    <td>@file.Description</td>
                    <td>@file.Date</td>
                    @*<td>@file.Uploader.Name</td>*@
                    <td>
                        <a class="btn btn-danger" asp-controller="Images" asp-action="Delete" asp-route-id="@file.ImageID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
}
