<h4>Start Uploading Files Here</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
    <button type="submit" class="btn btn-primary" asp-controller="Images" asp-action="UploadImage">Upload to File System</button>
</form>
<hr />
<h4>Files on File System</h4>
@if (Model.ImageFiles.Count == 0)
{
    <caption>No Records Found</caption> 
}
else
{
    <caption>List of Files on File System</caption>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Created On</th>
                 </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.ImageFiles)
                {
                    <tr>
                        <th>
                            <a asp-controller="Images" asp-action="ViewImage" asp-route-id="@file.ImageID">
                                <img src="~/ImageUploads/@file.Title@file.Extension" alt="image"
                                    height="200" width="200"asp-append-version="true">
                            </a>
                        </th>
                        <td>@file.Description</td>
                        <td>@file.Date</td>
                        <td>
                            <a type="button" class="btn btn-danger" asp-controller="Images" asp-action="DeleteImage" asp-route-id="@file.ImageID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
