<h4 align="center">Drones</h4>
<a class="btn btn-primary" asp-controller="Drones" asp-action="Add">Add Drone</a>
<hr />
@if (Model.DroneFiles.Count == 0)
{
    <caption>No Records Found</caption> 
}
else
{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.DroneFiles)
                {
                    <tr>
                        <th>
                            <img src="~/DroneUploads/@file.ImageName@file.ImageExtension" alt="image"
                                height="200" width="200"asp-append-version="true">
                        </th>
                        <td>@file.Name</td>
                        <td>@file.Description</td>
                        <td>@file.Size</td>
                        <td>@file.Weight</td>
                        <td>
                            <a type="button" class="btn btn-danger" asp-controller="Drones" asp-action="Delete" asp-route-id="@file.DroneID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
